html {
  overflow: hidden !important;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  user-select: none;
}

.no-select {
  user-select: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-card--variant-outlined {
  border: thin solid rgba(var(--v-theme-on-surface-variant), var(--v-border-opacity, 1)) !important;
}

.v-expansion-panel-title--active > .v-expansion-panel-title__overlay,
.v-expansion-panel-title[aria-haspopup=menu][aria-expanded=true] > .v-expansion-panel-title__overlay {
  opacity: calc(var(--v-activated-opacity) * var(--v-theme-overlay-multiplier));
}

ul:not([class]),
ol:not([class]) {
  padding-left: 20px;
  margin-bottom: 16px;
}
